tr.zebra1 {
	background: #ffffff;	
}

tr.zebra2 {
	background: #000000;
}
.quite {
	font-size:small;
	color: grey;
}
.loud {
	color: grey;
}
.hr-sysadmin{
	width: 50%;
	margin-left: 0px;
}
.hidden {
	display: none;
}