<module>
	<rawname>xmpp</rawname>
	<repo>commercial</repo>
	<name>XMPP</name>
	<version>12.0.21</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>Commercial</license>
	<licenselink>http://literature.schmoozecom.com/EUA/FreePBXCommercialModule-EndUserAgreement.txt</licenselink>
	<category>Admin</category>
	<description>COMMERCIAL MODULE REQUIRES A LICENSE FOR IT TO FUNCTION.  Please visit www.schmoozecom.com/oss.php. Manage and configure a XMPP Server Prosody and requires the Prosody RPM from FreePBX be installed.</description>
	<commercial>
		<type>paid</type>
		<link>//schmoozecom.com/freepbx/xmpp.php</link>
	</commercial>
	<menuitems>
		<xmpp needsenginedb="yes">XMPP</xmpp>
	</menuitems>
	<depends>
		<phpversion>5.3.0</phpversion>
		<phpcomponent>Zend Guard Loader</phpcomponent>
		<file>/usr/bin/prosody</file>
		<module>userman ge 12.0.21</module>
		<module>sysadmin ge 2.11.0.50</module>
	</depends>
	<changelog>
		*12.0.21* FREEPBX-8571 fix wsod in User Manager
		*12.0.20* Catch writing to the prosody database incase there are errors
		*12.0.19* Write out conf file if not licensed.
		*12.0.18* Report the real status of Prosody
		*12.0.17* Syntax
		*12.0.15* Xmpp reset password support through User manager and UCP
		*12.0.14* Better contact manager support
		*12.0.13* Add contact manager action
		*12.0.12* Dont double hide
		*12.0.11* Hide if not connected
		*12.0.10* Support for contact manager
		*12.0.9* Fix double, tripple, quadrupal messages in UCP
		*12.0.8* Dont show xmpp if its disabled
		*12.0.7* Use contact manager if present
		*12.0.6* Typing and presencestate in UCP
		*12.0.5* XMPP chat inside of UCP
		*12.0.4* FREEPBX-7976 Only show if services are running in dashboard if licensed
		*12.0.3* Xmpp Support in UCP
		*12.0.2* Permissions fixes
		*12.0.1* Move dashboard hooks into xmpp
		*2.11.1.15* Add one-to-many mappings for extensions on userman users.
		*2.11.1.14* Require rebuild of configs on module upgrade
		*2.11.1.13* Fix for upcoming userman module update
		*2.11.1.12* Handle AMI reconnect, fixing a resource consumption issue.
		*2.11.1.11* Fix rare usermanager preload error bug
		*2.11.1.8* Sales cleanup
		*2.11.1.7* Hide xmpp setting on user creation
		*2.11.1.6* Set dirty to true when deleting users
		*2.11.1.5* Change Username Fix
		*2.11.1.4* Instead of using internal functions just remove the user through SQL
		*2.11.1.3* UM Tweak
		*2.11.1.2* UM Tweak
		*2.11.1.1* UM Tweak
		*2.11.1.0* Now using User Manager
		*2.11.0.7* Add presence component, for managing presence state.
		*2.11.0.4* Add Assets Back
		*2.11.0.3* Fix issue with not updating MySQL password.
		*2.11.0.2* Packaging of ver 2.11.0.2
		*2.11.0.1* Fix issue with sales page not showing
		*2.11.0.0* Bump for 2.11
		*2.10.5.11* Add sales information
		*2.10.5.10* Generate password if non given on migration
	</changelog>
	<supported>
		<version>12.0</version>
	</supported>
	<hooks>
		<dashboard namespace="FreePBX\modules\Dashboard\Sections" class="Overview">
			<method namespace="FreePBX\Modules" class="Xmpp" callingMethod="getSummary">dashboardService</method>
		</dashboard>
		<userman namespace="FreePBX\modules" class="Userman">
			<method namespace="FreePBX\modules" class="Xmpp" callingMethod="getExtraContactInfo">usermanAddContactInfo</method>
			<method namespace="FreePBX\modules" class="Xmpp" callingMethod="delUser">usermanDelUser</method>
			<method namespace="FreePBX\modules" class="Xmpp" callingMethod="addUser">usermanAddUser</method>
			<method namespace="FreePBX\modules" class="Xmpp" callingMethod="updateUser">usermanUpdateUser</method>
			<method namespace="FreePBX\modules" class="Xmpp" callingMethod="myShowPage">usermanShowPage</method>
		</userman>
		<sysadmin class="Sysadmin">
			<method namespace="FreePBX\modules" class="Xmpp" callingMethod="getModuleLicenseInformation">sendModuleLicenseInformation</method>
		</sysadmin>
	</hooks>
	<location>release/2.11/xmpp-2.11.0.3.tgz</location>
	<md5sum>e784b420c579ca7a6eb51f94b616e451</md5sum>
</module>
